// import styled from "styled-components";

// export const CartDropdownContainer = styled.div`
//     background-color: #fff;
//     height: 28rem;
//     width: 4rem;
// `;

.cart-dropdown{
        background-color: #fff;
        height: 100vh;
        width: 32rem;
        position: absolute;
        top: 100%;
        border-top: 1px solid #F5b216;
        right: 0;
        overflow: hidden;
        z-index: 100;
        opacity: 0;
       transform: translateX(100%);
       transition: opacity 1s ease, transform 1s ease;
        .cart-empty{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        letter-spacing: 0.5rem;

}



}
.cart-in.cart-visible{
    opacity: 1;
    transform: translateX(0);
}