    .categories--flyout{
        background-color: #fff;
        width: 20%;
        position: relative;
       
        .main{
            display: flex;
            align-items: center;
            gap: 8px;
            
            &:hover{
                background-color: rgba(0, 0, 0, 0.05)
                // background-color: rgba(245, 178, 22, 0.05)
            }
            
            .main-icon{
                width: 2.4rem;
                height: 2.4rem;
            }
            
            .main-cat{
                display: flex;
                flex-direction: column;
                font-size: 1.4rem;
                width: 100%;
                padding: 0.4rem 0 0.8rem 0.4rem;
                &:hover{
                    font-size: 1.42rem;
                }
              
            }
        

        }
        .cat-collections{
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            width: 65rem;
            display: flex;
            justify-content: space-between;
            padding: 1.2rem;
            box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.05);
            border-left: 1px solid #bdbdbd;
        //    visibility: hidden;
           
           .collection{
               width: 33.3%;
               padding: 1.2rem;
               overflow: hidden;
               
               .ca{
                   display: flex;
                   flex-direction: column;
                   margin-bottom: 1.2rem;
                   
                   .category-head{
                       font-size: 1.1rem ;
                       font-weight: 500;
                       line-height: 1.2;
                       text-transform: uppercase;
                       margin-bottom: 1.2rem;
                       border-bottom: 1px solid #ddd;
                       text-overflow: ellipsis;
                 
                   
                   }
                   
                   .sub-item{
                       font-size: 1rem;
                       line-height: 1.2;
                       

                       &:hover{
                        font-size: 1.4rem;
                        color: #212121;
                       }
                   }
               }
           }
        }
    }
    






